.user-head
  .user-name Juan Camaney
  .user-date 04/04/12
.user-body
  .user-picture
    a(href="usuario.html")
      img(src="./assets/user.jpg")
  .users-experiences
    .users-nationality Frances
    .users-comment Me fue muy bien. me gustó mucho la costa.
  .users-placeGrade 4
.user-foot
  .user-more
    p +
hr
  
