/* estos estilos son del menu que estan en el aside */
*{
	padding: 0px;
	margin: 0px;

}
.font{
	font-family: 'Lato', sans-serif;
}
aside{
	width: 25%;
	background-color: red;
	height: 100vh;
}