header
  nav
    .nav-wrapper
      form#search-form
        .input-field
          input#search.font(placeholder='Busca un lugar', type='search', required='')
          label(for='search')
            i.material-icons search
          i.material-icons close
